  
  /* Estilo para o contêiner da lista */
.card {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Estilo para cada item da lista (cartão) */
 .card li {
    width: 13%; /* Tamanho desejado para cada cartão */
    margin-right: 1%; /* Espaçamento entre os cartões */
    margin-bottom: 20px; /* Espaçamento inferior entre os cartões */
    border: 1px solid #ccc; /* Borda para parecer um cartão */
    padding: 10px; /* Espaçamento interno dentro do cartão */
    box-sizing: border-box; /* Inclui o preenchimento na largura total */
  }
  
  /* Estilo para os botões dentro de cada cartão */
  .card li button {
    margin-top: 5px; /* Espaçamento superior para os botões */
    display: block; /* Faz com que os botões sejam exibidos em blocos */
  }
  